<html>
<head>
	<title>ArtReach</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link href="css/artReach.css" rel="stylesheet">
	{{#if default-theme}}
	<link href="css/default-theme.css" rel="stylesheet">
	{{/if}}
	{{#if alt-theme}}
	<link href="css/alt-theme.css" rel="stylesheet">
	{{/if}}
	{{#if light-theme}}
	{{/if}}
	{{#if dark-theme}}
	<link href="css/dark-theme.css" rel="stylesheet">
	{{/if}}

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="/js/artreach.js"></script>
</head>
<body>
	<div class="container-fluid fixed-top" id="top-bar">
		{{#if logged-in}}
		
			<div class="container btn-group-lg">
				<button type="button" class="btn btn-outline-dark float-left" id="profile"><img src={{profile-pic}} id="profile-pic">
					<div id="profile-function" style="display: none">
						<p>{{username}}</p>
						<hr>
						<small id="your-profile">Your profile</small><br>
						<small>Theme:</small><br>
						<div class="d-flex justify-content-between">
							<div class="theme-square rounded border border-dark" id="default-square"></div>
							<div class="theme-square rounded border border-dark" id="alt-square"></div>
							<div class="theme-square rounded border border-dark" id="light-square"></div>
							<div class="theme-square rounded border border-light" id="dark-square"></div>
						</div>
						<small id="return-home">Log out</small>
					</div>
				</button>
				<button id="notif-button" type="button" class="btn-lg btn btn-outline-dark float-right">🔔</button>
			</div>
		{{/if}}
	</div>

	<div class="container" id="main-content">
		{{#if login}}
			<h1>ArtReach</h1>
			<div class="container d-flex align-content-center flex-wrap">
				
	            

	            <!-- {{#if success}}
	            <div class="alert alert-success alert-dismissible fade show">
	                <strong>{{success}}</strong>
	                <button class="close" data-dismiss="alert"><span>&times;</span></button>
            	</div>
            	{{/if}}
            	{{#if error}}
            	<div class="alert alert-danger alert-dismissible fade show">
                	<strong>{{error}}</strong>
                	<button class="close" data-dismiss="alert"><span>&times;</span></button>
            	</div>
            	{{/if}} -->

            	<form id="login-form" class= "container">
             		<h1>Log In</h1>
                	<div class="form-group d-flex flex-column">
                    	<label for="email">Email ID <span class="text-danger">*</span></label>
                    	<input type="email" class="form-control" name="username" id="email" placeholder="Enter your email ID">
                	
                	
                    	<label for="password">Password <span class="text-danger">*</span></label>
                    	<input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password">
                	
                	
                    	<input type="submit" id='go-button' value="Login" class="btn btn-info btn-block">
                	
                	</div>

					<div class="d-flex justify-content-between flex-wrap">
                       	<div>New user? <button class ="btn btn-outline-dark" id="signup-button">Register here!</button></div>

                       	<button class ="btn btn-outline-dark" id="forgot-button">Forgot password?</button>
                    </div>

            	
			</div>
		{{/if}}


		{{#if register}}

			<h1>Sign-Up</h1>
				<div class="container">
					<button id='return-home' type="button" class ="btn btn-outline-dark btn-lg btn-block">Register</button>
				</div>

		{{/if}}

		{{#if forgotPassword}}

  				<h1>Reset Password</h1>
  				<div class="container">
    				<button id='return-home' type='button' class="btn btn-outline-dark btn-lg btn-block">Reset Password</button>
  				</div>

		{{/if}}


		{{#if project-home}}
			<h1>Project Home</h1>
			<div class="container d-flex align-content-center flex-wrap">
				<div class="btn-group-lg d-flex flex-column" id="landing-buttons">
					<button id="project-list" type="button" class="btn btn-outline-dark btn-lg">Project List</button>
					<button id="archive-list" type="button" class="btn btn-outline-dark btn-lg">Archived Projects</button>
				</div>
			</div>
		{{/if}}

		{{#if wip-projects}}
			<h1>Work In Progress</h1>
				<div class="container">
					<ul class="list-group">
						<a id="new-project-button" class="list-group-item list-group-item-action list-group-item-dark">
							<h5>+ New project</h5>
						</a>
						{{#each projects}}
							<a id="project" class="list-group-item list-group-item-action">
								<div class="d-flex justify-content-between">
									<h5>{{name}}</h5>
									<small class="justify-content-between flex-wrap">
										<p>Created: {{date}}</p>
										<p>Artists: {{people}}</p></small>
								</div>
								{{description}}
							</a>
						{{/each}}  	
				    </ul>
				</div>
		{{/if}}

		{{#if archive}}
			<h1>Archived</h1>
				<div class="container">
					<ul class="list-group">
						{{#each archived}}
							<a id="archive-project" class="list-group-item list-group-item-action">
								<div class="d-flex justify-content-between">
									<h5>{{name}}</h5>
									<small class="justify-content-between flex-wrap">
										<p>Archived: {{date}}</p>
										<p>Artists: {{people}}</p>
									</small>
								</div>
								{{description}}
							</a>
						{{/each}}  	
				    </ul>
				</div>
		{{/if}}

		{{#if new-project}}
			<h1>Create a New Project</h1> 
			<form>
				<div class="container form-group" id="new-project-form">
					<div class="form-group">
						<label>Project Name</label>
						<input type="text" class="form-control" placeholder="My Project" id="project-name">
					</div>
					<div class="form-group">
						<label>Description</label>
						<input type="text" class="form-control" placeholder="Write about your new project here" id="project-description">
					</div>
					<button id="make-new" class="btn btn-outline-dark">
					Create</button>
				</div>
			</form>
		{{/if}}

		{{#if friends}}
			<h1>Friends</h1>
				<div class="container">
					<ul class="list-group">
						<form id="friend-search" class="form-inline" action="/friends">
			 				<input class="form-control" type="text" id="mytextbox" placeholder="Search for a friend's ID" />
	  						<button id="search-button" type="submit" class="btn btn-outline-dark">Add Friend</button>
						</form>
						<div id="friends-list">
							{{#each friendList}}
							<a id="friend" class="list-group-item list-group-item-action">
								<div class="d-flex flex-column">
									<div class="d-flex justify-content-start">
										<img src={{thumbnail}}>
										<h5>{{name}}</h5>
									</div>
									<small id="friend-desc" style="display: none">{{description}}</small>
								</div>
							</a>
							{{/each}}
						</div>
				    </ul>
				</div>
		{{/if}}

		{{#if notifs}}
			<h1>Notifications</h1>
				<div class="container">
					<ul class="list-group">
						{{#each notif-list}}
							<a id="notif" class="list-group-item list-group-item-action"><div class="d-flex justify-content-between"><h5>{{title}}</h5></div>
							<small>{{content}}</small></a>
						{{/each}}  	
				    </ul>
				</div>
		{{/if}}

		{{#if project-chat}}
			<h1>Project 1</h1>

			<div class="container d-flex flex-column">
				<div class="d-flex justify-content-between">
					<button id="chat-back-button" type="button" class="btn btn-outline-dark">Back</button>

					<form id="friend-search" class="form-inline" action="/project1">
				 		<input class="form-control" type="text" id="mytextbox" placeholder="Add a friend to this project" />
		  				<button id="invite-button" type="submit" class="btn btn-outline-dark">Search</button>
					</form>
				</div>

				<div id="chat">
					{{#each projectMessages}}
						<div class="d-flex justify-content-between">
							<div>
								<img src={{thumbnail}} id="friend-icon"><em>{{name}}</em>
							</div>
							<small class="time-right">11:00</small>
						</div>
						<p>{{content}}</p>
					{{/each}}
				</div>

				<div id="send-message" class="d-flex justify-content-between flex-wrap">
					<form id="friend-search" class="form-inline" action="/project1">
				 		<input class="form-control" type="text" id="mytextbox" placeholder="Type a status update" />
		  				<button id="send-button" type="submit" class="btn btn-outline-dark">Send</button>
					</form>
					<form action="/project1" id="image-upload">
					    <input type="file" id="myfile" name="myfile">
					</form>
				</div>
			</div>
		{{/if}}

		{{#if friend-profile}}
			<h1>My Profile</h1>
			<div class="container">
				<div class="d-flex align-items-end justify-content-start">
					<img src={{profile-pic}}>
					<h3>{{username}}</h3>
				</div>
				<hr>
				<p>{{profile-desc}}</p>	
			</div>
		{{/if}}


	</div>


	<div class="jumbotron fixed-bottom" id="bottom-bar">
		{{#if logged-in}}
			<div class="btn-group-lg d-flex justify-content-around">
				{{#if project-home}}
					<a id="project-button" type="button" class="btn-lg btn btn-outline-dark active">Project Home</a>
				{{else}}
					<button id="project-button" type="button" class="btn-lg btn btn-outline-dark">Project Home</button>
				{{/if}}
				{{#if new-project}}
					<a id="new-button" type="button" class="btn-lg btn btn-outline-dark active">New Project</a>
				{{else}}
					<button id="new-button" type="button" class="btn-lg btn btn-outline-dark">New Project</button>
				{{/if}}
				{{#if friends}}
					<a id="friend-button" type="button" class="btn-lg btn btn-outline-dark active">Friend List</a>
				{{else}}
					<button id="friend-button" type="button" class="btn-lg btn btn-outline-dark">Friend List</button>
				{{/if}}
			</div>
		{{/if}}
	</div>
</body>
</html>
